<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js" defer></script>
    <title>PictureDay</title>
</head>
<body>

    <section class="sectionh1">
        <h1>PICTURE OF THE DAY</h1>
        <p>Insira uma data e veja a imagem e legenda correspondente.</p>
    </section>

    <section>
        <input type="date" id="data" onchange="pegarData()">
    </section>
    
    <section class="tituloo">
        <h3 class="titulo" id="titulo"></h3>
    </section>
   
    <section >
        <img src="" alt="" id="apod_img" class="img-apod">
    </section>

     <section class="legenda">
        <p class="legenda" id="legenda"></p>
     </section>
   
    
    
</body>
</html>